body{
    font-family: lato, sans-serif;
}

.text-logo{
    margin-top: 15px;
    margin-left: 50px;
}

@media  screen and  (max-width:500px){
    .center-img{
        text-align: center;
        margin: 20px;
    }
}


.text-light{
    font-weight: 100;
}
.text-muted{
    color: #BCBBBB;
}
